<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../css/nav.css">
        <title>Authorized!</title>
    </head>
    <body>

    <% include nav.ejs %>

    <p>Ingelogd! <a href="/todo.html">Klik hier om verder te gaan</a></p>
    </body>
</html>