#button{
	display: block;
	width: 280px;
	height: 90px;
	background: url(../img/buttonmain.png);
	position:absolute;
}

#signTwitter {
	background-image: url("https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png");
	width:158px;
	height:28px;
	border:none;
	border-radius: 5px;
	cursor:pointer;
}


/* Margin requirement & Padding requirement */
body{
	background-color: #00000;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 110%;
	box-shadow: 0px 0px 10px 10px #888888;
	width: 50%;

}

img{
	/*Position Relative Used*/
	position:relative;
}
table{
	width:100%
}

.left {
	width:250px;
	display:inline-block;
}

.right {
	width:300px;
	display:inline-block;
}

header div {
	width:500px;
}

ul {
	-webkit-animation: glow 2s infinite;
	animation: glowP 2s infinite;
	list-style-image: url(../img/checkmark.png);
	width:200px;
}

@-webkit-keyframes glow {
	from {
		text-shadow:0px 0px;
	}
	50% {
		text-shadow: 0px 0px 10px #00ff2b;
	}
	to {
		text-shadow:0px 0px;
	}
}

@keyframes glowP {
from {
		text-shadow:0px 0px;
	}
	50% {
		text-shadow: 0px 0px 10px #00ff2b;
	}
	to {
		text-shadow:0px 0px;
	}
}

header {
	margin-left: auto;
	margin-right: auto;
	width:60%;
	max-height:200px;
	height:200px;
}

header img {
	animation: highlightSteps 2s infinite;
	-webkit-animation: highlightSteps 2s infinite;
}

header img:last-child {
	margin-right: 0px;
}

@keyframes highlightSteps {
	from {
		width: 128px;
		height: 128px;

	}
	50% {
		width: 150px;
		height: 150px;
		transform:rotate(360deg);
	}
	to {
		width: 128px;
		height: 128px;
	}
}

@-webkit-keyframes highlightSteps {
	 from {
		 width: 128px;
		 height: 128px;
	 }
	 50% {
		 width: 150px;
		 height: 150px;
		 transform:rotate(360deg);
	 }
	 to {
		 width: 128px;
		 height: 128px;
	 }
 }
	
